# PEP8 code linting, which we run on all commits.
flake8==3.9.2

django==3.2.4
djangorestframework==3.12.4
celery==5.1.0
httplib2==0.19.1
google-api-python-client==1.6.5
oauth2
requests-oauthlib==0.8.0
onedrivesdk==1.1.8

coverage==5.5
mock==4.0.3
unittest-xml-reporting==3.0.4
django-debug-toolbar==3.2.1
pinocchio==0.4.3
django-nose==1.4.7
