# PEP8 code linting, which we run on all commits.
flake8==3.5.0

django==1.11.10
djangorestframework==3.7.7
six==1.11.0
celery==3.1.23
httplib2==0.10.3
google-api-python-client==1.6.5
oauth2
requests-oauthlib==0.8.0
onedrivesdk==1.1.8

coverage==4.4.2
mock==2.0.0
unittest-xml-reporting==2.1.0
django-debug-toolbar==1.9.1
nose==1.3.7
pinocchio==0.4.2
django-nose==1.4.5
