{% load i18n %}
{% load tags %}
{% autoescape off %}

{% trans "You're receiving this e-mail because you requested a password reset" %}
{% blocktrans %}for your user account at draalcore{% endblocktrans %}.
{% if user|social_auth %}
{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
http://localhost:8000/api/dummy/{{ uid }}/{{ token }}
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.username }}
{% else %}
However, your account was created using your provided social account.
Therefore, there is no need to reset your password in our service.
{% endif %}
{% trans "Thanks for using our site!" %}
{% blocktrans %}The draalcore team{% endblocktrans %}

{% endautoescape %}
